
.list {
    background-color: #fff;

    li {
        padding: 10px;
        border-bottom: 1px solid #999;
        
        p {
            font-size: 16px;
            line-height: 24px;
        }

        .img-list {

            a {
                display: inline-block;
                width: 60px;
                height: 60px;
                overflow: hidden;

                img {
                    max-width: 60px;
                }
            }
        }
    }
}